<% provide(:title, @store.name) %>
<div class="row navbar-fixed-top store_navbar">
  <div class = "col-md-12">
    <nav>
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="categories_nav dropdown-toggle" data-toggle="dropdown">
              Categories <b class="caret"></b>
          </a>
          <ul class="dropdown-menu categories_nav">
              <li><%= link_to "All", polymorphic_path(@store, :cat => "")  %></li>
              <li><%= link_to "Snacks", polymorphic_path(@store, :cat => "Snacks")  %></li>
              <li><%= link_to "Beverages", polymorphic_path(@store, :cat => "Beverages") %></li>
              <li><%= link_to "Household Supplies", polymorphic_path(@store, :cat => "Household Supplies") %></li>
              <li><%= link_to "Personal Care", polymorphic_path(@store, :cat => "Personal Care") %></li>
              <li><%= link_to "Breakfast Foods", polymorphic_path(@store, :cat => "Breakfast Foods") %></li>
              <li><%= link_to "Canned Foods", polymorphic_path(@store, :cat => "Canned Foods") %></li>
          </ul>
        </li>
        <li><%= link_to "Past Orders",   url_for(params), class: "categories_nav" %></li>
    </ul>
    </nav>
    <h4 id = "store_show_title"><%= @store.name %></h4>
  </div>
</div>
<div class="container store_show">
<div class = "row">
    <div class = "col-md-9">
      <% if @store.products.any? %>
        <% @products.each do |product| %>
          <ul class = "content_column">
            <li><%= link_to fetch_image_tag(product.image_url, :width => 150, 
              :height => 150), root_path, 
              method: :get %></li>
            <li><%= product.name %></li>
            <li>
              <div class = "product_price">
              $<%= product.price %>
              </div>
              <%= form_for(@order) do |f| %>
                <%= hidden_field_tag(:product_id, product.id) %>
                <%= f.submit "Add +", class: "btn btn-primary btn-sm button_add"%>
              <% end %>
            </li>
          </ul>
        <% end %>
    <% end %>
    </div>
    <div class = "col-md-4 checkoutBox">
      <h3>Shopping Cart (<%= @user.orders.count %>)</h3>
      <% if @user.orders.any? %>
        <div class = "checkoutScroll">
        <% @user.orders.each do |order| %>
          <ul class = "content_column2">
            <li><%= link_to fetch_image_tag(order.product.image_url, :width => 75, 
              :height => 75), 
              method: :get %></li>
            <li><%= order.product.name %></li>
            <li>$<%= order.product.price %></li>
          </ul>
        <% end %>
        </div>
        <h4>Order Total: $<%= @user.products.sum(:price) %></h4>
        <%= form_for(@order) do |f| %>
                <%= f.submit "Checkout", class: "btn btn-primary btn-md" %>
        <% end %>
      <% end %>
    </div>
</div>
</div>