<% provide(:title, @store.name) %>
<div class="row navbar-fixed-top store_navbar">
  <div class = "col-md-12">
    <nav>
    <ul class="nav navbar-nav navbar-left">
        <li class="dropdown">
          <a href="#" class="categories_nav dropdown-toggle" data-toggle="dropdown">
              Categories <b class="caret"></b>
          </a>
          <ul class="dropdown-menu categories_nav">
              <li><%= link_to "All (" + @productsAll + ")", polymorphic_path(@store, :cat => "")  %></li>
              <li><%= link_to "Snacks (" + @productsSnacks + ")", polymorphic_path(@store, :cat => "Snacks")  %></li>
              <li><%= link_to "Beverages (" + @productsBeverages + ")", polymorphic_path(@store, :cat => "Beverages") %></li>
              <li><%= link_to "Household Supplies (" + @productsHouseholdSupplies + ")", polymorphic_path(@store, :cat => "Household Supplies") %></li>
              <li><%= link_to "Personal Care (" + @productsPersonalCare + ")", polymorphic_path(@store, :cat => "Personal Care") %></li>
              <li><%= link_to "Breakfast Foods (" + @productsBreakfastFoods + ")", polymorphic_path(@store, :cat => "Breakfast Foods") %></li>
              <li><%= link_to "Canned Foods (" + @productsCannedFoods + ")", polymorphic_path(@store, :cat => "Canned Foods") %></li>
          </ul>
        </li>
        <li><%= link_to "Past Orders",   orders_path, class: "categories_nav" %></li>
    </ul>
    </nav>
    <h4 id = "store_show_title"><%= @store.name %></h4>
  </div>
</div>
<div class="container store_show">
<div class = "row">
    <div class = "col-md-9">
      <% if @store.products.any? %>
        <% @products.each do |product| %>
          <ul class = "content_column">
            <li><%= link_to fetch_image_tag(product.image_url, :width => 150, 
              :height => 150), 
              method: :get %></li>
            <li><%= product.name %></li>
            <li>
              <div class = "product_price">
              <%= number_to_currency product.price %>
              </div>
              <%= form_for @order_item, remote:true do |f| %>
              <div class="input-group">
                <%= f.number_field :quantity, value: 1, class: "form-inline", min: 1 %>
                <%= f.hidden_field :product_id, value: product.id %>
                <%= f.submit "Add +", class: "btn btn-primary btn-sm button_add"%>
              </div>
              <% end %>
            </li>
          </ul>
        <% end %>
    <% end %>
    </div>
    <div class = "col-md-4 checkoutBox">
      <h3 class = "shopping_cart_t">Shopping Cart</h3>
      <% if !@order.nil? %>
      <%= form_for @order do |f| %>
                <%= f.hidden_field :user_id, value: @user.id %>
                <%= f.hidden_field :total, value: @order.total %>
                <%= f.hidden_field :order_status_id, value: 2 %>
                <%= f.submit "Checkout", class: "btn btn-primary btn-md checkout-btn" %>
      <% end %>
      <% end %>
      <%= render 'carts/shopping_cart' %>
    </div>
    </div>
</div>
</div>